@model Serenity_Craft.Models.Publisher
@{
    ViewBag.Title = "Add new publisher";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger ">@ViewBag.Message</div>
}

